.Rproj.user
.Rhistory
.RData
.Ruserdata

*.xls
*.xlsx
*.doc
*.docx
.DS_Store
world-epi
src/Makevars
*_files/

*.pdf
*.html
*.Rcheck/
*.tar.gz

images
inst/doc
docs

config.log
config.status
autom4te.cache/
configure~

.vscode
build/
_codeql_detected_source_root
